body{
  margin: 0;
  font-family: Jost;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedorLogin{
  width: 100%;
  display: flex;
  justify-content: center;
}

.cajaLogin{
  width: 300px;
  height: 150px;
  background-color: #381dba;
  border: 2px solid #4d22da;
  padding: 20px;
  margin: 10px;
  display: flexbox;
  align-items: center;
  justify-content: center;
}

.bombilla{
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-bottom: 15px;
}

input, button{
  width: 100%;
  height: 10px;
  margin-top: 10px;
  box-sizing: border-box;
}
/* ================================
   BASE — MÓVIL (< 768px)
   La sidebar queda arriba, como un menú de navegación
================================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
}

.main-content {
  padding: 20px;
  background-color: #f4f4f4;
  min-height: 100vh;
}

.main-content h1 {
  font-size: 1.4rem;
  margin-bottom: 12px;
}


/* ================================
   TABLET (≥ 768px)
   La sidebar pasa a columna lateral
================================ */

@media (min-width: 768px) {

  body {
    display: flex;
  }

  .main-content {
    flex: 1;
    padding: 30px;
  }

  .main-content h1 {
    font-size: 1.8rem;
  }

  .bombilla{
    padding: 70rem;
    width: 50rem;
  }
}


/* ================================
   DESKTOP (≥ 1024px)
   Sidebar más ancha, más espaciado
================================ */

@media (min-width: 1024px) {

  .main-content {
    padding: 40px;
  }

  .main-content h1 {
    font-size: 2rem;
  }

  .bombilla{
    padding: 10rem;
    width: 25rem;
  }

}
